*{margin: 0; padding: 0; }

li{list-style:none;}

#divselect{
    width: 186px;margin:80px auto;
    position:relative; z-index:10000;
}

#divselect span{display:block;
    width:150px;height:24px;line-height: 24px;
    font-size: 16px;  color:#807a62;
    cursor:pointer;
    padding-left: 4px;padding-right: 30px;border:1px solid #333;
    position: relative;z-index: 20000;
}

#divselect ul{
    width:184px;border:1px solid #333333;background-color: #ffffff;
    position: relative;z-index: 30000;
    margin-top: -1px;
    display: none;
}

#divselect ul li{height:24px;line-height: 24px; color:#333;padding-left: 10px;}
